spring:
  application:
    name: first-rest
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 9999
management:
  endpoints:
    web:
      exposure:
        include: health, info
